.linkTable{
	text-decoration: none;
	color: #1c2c40;
}
.linkTable:hover{
	text-decoration: underline;
	color: #395d94;
}
.noResults{
	font-family: Proxima Nova;
	text-align: center;
	margin-top: 32px;
	font-size: 1.5em;
	color: #1c2c40;
}
tr {
	height: 2.1em;
	width: 100%;
}
th {
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: start;
	background: #f9fafc;
	border-radius: 5px;
}
.blue{
	color: #007BFF;
}
.green{
	color: #28A745;
}
.gray{
	color: #6C757D;
}
.red {
	color: #FF073A;
}
.wraperTable{
	position: relative;
}
table {
	margin-top: 32px;
	width: 100%;
	font-family: Proxima Nova;
	font-weight: 600;
	line-height: 1.5em;
	color: #1c2c40;
}
@media only screen and (max-width: 340px) and (min-width: 319px) {
	*{
		font-size: 10px;
	}
}