
.container {
	/*  width: 100%;
	height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.screen {
	max-width: 1024px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	background-size: 100% 350px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}
.inner {
	padding-top: 40px;
	padding-bottom: 60px;
	width: 84%;
	height: auto;
}
.name {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 500;
	font-size: 1em;
	line-height: 1.2px;
	color: #ffffff;
}

.country {
	width: auto;
	text-decoration: none;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.8em;
	color: #ffffff;
	margin-top: 0.2em;
	cursor: pointer;
	display: inline-flex;
}
.country::after {
	position: relative;

	margin-left: 10px;
	top: -6px;
}
.updates {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 1em;
	line-height: 1.2em;
	color: #c0ccda;
	margin-top: 4px;
}
.statistics {
	margin-top: 71px;
	width: 100%;
	min-width: 268px;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 16px;
}
@media (max-width: 768px) and (min-width: 500px) {
	.statistics {
		/* min-height: 500px; */
	}
}
@media (max-width: 600px) and (min-width: 420px) {
	.statistics {
		/* min-height: 1200px; */
		grid-template-columns: 1fr ;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	}
	
}
@media (max-width: 420px) and (min-width: 320px) {
	.statistics {
		/* min-height: 900px; */
		grid-template-columns: 1fr ;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}
.block {
	background-color: rgb(255, 255, 255);
	padding: 10px 10px;
	box-shadow: 0px 8px 40px rgba(28, 44, 64, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.title {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 0.85em;
	line-height: 14px;
	text-transform: uppercase;
	color: #8391a7;
}
.count {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
}

.countAll {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 2em;
	line-height: 36px;
	color: #ff073a;
	margin-top: 0.2em;
}
.countContainer {
	display: flex;
	align-items: baseline;
	padding-bottom: 4px;
}
.rotatesvg{
	display: flex;
	align-items: baseline;
	padding-bottom: 4px;
}
.rotatesvg > svg {
	transform: rotate(180deg);
}
.countChanges {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 0.875em;
	line-height: 24px;
}


.blue {
	color: #007bff;
}
.green {
	color: #28a745;
}
.gray {
	color: #6c757d;
}
.red {
	color: #ff073a;
}

@media only screen and (max-width: 460px) and (min-width: 400px) {
	.title {
		font-size: 1.1em;
	}
	.updates {
		font-size: 1em;
	}
}
@media only screen and (max-width: 400px) and (min-width: 320px) {
	.title {
		font-size: 1.2em;
	}
	.updates {
		font-size: 1.1em;
	}
}
