.screen {
	width: 375px;
	height: 667px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner {
	padding: 40px 0 80px 0;
	width: 84%;
	height: 100%;
}
.news {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #1c2c40;
}
.icon {
	border-radius: 50%;
	float: left;
	top: 0px;
	padding: 0 7px;
}
.articles {
	margin-top: 32px;
	display: grid;
	row-gap: 14px;
}

.block-description {
	margin-top: 8px;
}
.description-text {
	align-self: flex-end;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75em;
	line-height: 1em;
	color: #8391a7;
}
.content {
	display: flex;
	text-decoration: none;
	border: 1px solid #e5e9f2;
	padding: 12px;
	border-radius: 12px;
	background: #f9fafc;
}
.text {
	margin-left: 8px;
}

.link {
	background-color: rgb(184, 46, 46);
	display: block;
}
.textTitle {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 1.25em;
	color: #1c2c40;
}
.textDescription {
	font-family: Proxima Nova;
	font-weight: 600;
	font-size: 0.9em;
	line-height: 1.3em;
	color: #5a6679;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: -webkit-line-clamp 15s;
}
.textDescription:hover {
	-webkit-line-clamp: 15;
}
/* @media only screen and (max-width: 1024px) and (min-width: 769px) {
	.textDescription {
		max-height: 95px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 462px) {
	.textDescription {
		max-height: 83px;
	}
}
@media only screen and (max-width: 461px) and (min-width: 400px) {
	.icon {
		width: 130px;
		height: 75px;
	}
	.textDescription {
		max-height: 78px;
	}
}
@media only screen and (max-width: 400px) and (min-width: 319px) {
	.icon {
		width: 100px;
		height: 65px;
	}
	.textDescription {
		max-height: 63px;
	}
} */
/* @media only screen and (max-width: 1024px) and (min-width: 768px){
	body{
		font-size: 16px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 460px) {
	body{
		font-size: 15px;
	}
}
@media only screen and (max-width: 460px){
	body{
		font-size: 14px;
	}
} */
