
.screen {
	width: 375px;
	height: 667px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner {
	padding: 40px 0 80px 0;
	width: 84%;
	height: 100%;
}
.news {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 28px;
	color: #1c2c40;
}
.icon {
	border-radius: 50%;
	float: left;
	top: 0px;
	position: relative;
	padding: 0 7px;
}
.articles {
	margin-top: 32px;
	display: grid;
	row-gap: 14px;
}

.block-description {
	margin-top: 8px;
}
.description-text {
	align-self: flex-end;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 0.75em;
	line-height: 16px;
	color: #8391a7;
}
.content {
	display: flex;
	text-decoration: none;
	border: 1px solid #e5e9f2;
	padding: 12px;
	border-radius: 12px;
	background: #f9fafc;
}
.text {
	margin-left: 8px;
}

.link {
	background-color: rgb(184, 46, 46);
	display: block;
}
.textTitle {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 20px;
	color: #1c2c40;
}
.textDescription {
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 0.78125em;
	line-height: 17px;
	color: #5a6679;
	max-height: 88px;

	transition: max-height 1s;
	overflow: hidden;
}
.textDescription:hover {
	max-height: 500px;
	
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
	body{
		font-size: 16px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 460px) {
	body{
		font-size: 15px;
	}
}
@media only screen and (max-width: 460px){
	body{
		font-size: 14px;
	}
}
